@mixin flexBox($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flexAlign($alignItems, $justifyContent) {
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin boxSizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.row {
  @include boxSizing;

  position: relative;
  width: 100%;
  margin: 0;
  input#queryStr{
    margin: 2px;
    border: 1px solid;
    background-color: #f7ecdc;
    border-radius: 5px;
  }
  button{
    background-color: rgb(242, 148, 41);
    border-radius: 5px;
    padding: 2px;
    color:#f7ecdc;
  }
  /* &符號是sass的非變數連接字符，這裡的&.any就是 .row.any的意思 */
  &.horizontal {
    @include flexBox(row);
    &.v_center {
      @include flexAlign(center, flex-start);
    }
    &.end {
      @include flexAlign(center, flex-end);
      &.start {
        align-items: flex-start;
      }
      &.center {
        align-items: center;
      }
      &.end {
        align-items: flex-end;
      }
    }
    &.space {
      @include flexAlign(center, space-between);
    }
  }
  &.vertical {
    @include flexBox(column);
  }

  /* wrap 可以確保子元素在寬度不夠時自動換行喔 */
  &.wrap {
    flex-wrap: wrap;
  }
}

[data-border="all"] {
  border: 1px solid #000;
}

[data-space="space-bottom"] {
  margin-bottom: 0.5rem;
}
[data-space="space-next"] {
  margin-right: 0.5rem;
}

@for $i from 0 through 100 {
  [data-width='#{$i + "%"}'] {
    width: #{$i + "%"};
  }
}

@for $i from 1 through 100 {
  [data-height="#{$i}vh"] {
    height: #{$i}vh;
  }
}

#Day6AsynchronousResult{
  padding: 20px;
}